<app-navbar></app-navbar>

<section class="hero-wrap hero-wrap-2" [ngStyle]="{ 'background-image': 'url(' + background2 + ')'}" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9  pb-5">
        <h2 class="mb-0 bread">About Us</h2>
        <br>
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-no-pb ftco-no-pt">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="p-md-5 img img-2 d-flex justify-content-center align-items-center" [ngStyle]="{ 'background-image': 'url(' + about + ')'}">
          <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
            <span class="icon-play"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 py-md-5 pb-5 wrap-about pb-md-5 ">
        <div class="heading-section mb-4 mt-md-5">
          <h1 class="big">About</h1>
          <span class="subheading">About Us</span>
          <h2 class="mb-4">A World Class Beauty Salon Software Company</h2>
        </div>
        <div class="pb-md-5">
          <p>Beautello is the Sri Lanka’s first real time salon appointment platform to book hair and beauty services like hair-spa, shave, keratin, smoothening, pedicure, makeup from your favorite at a beauty parlor or salon near you and Salon Branding.</p>
          <p>Beautello applications takes pride in becoming hair and beauty treatment partner of thousands of our esteemed customers for the longest time. Be it for a party, festival or a normal dating - Let us take care of your looks and you may remain tension-free!
          </p>
          <p>Looking for a fresh look this festive season? Or want to bring out a new you? Then wait no more, just book an appointment at Beautello today and observe yourself getting transformed into a totally new person. Booking an appointment with Beautello is as easy as a cakewalk. All you've to do is to fill the quick form above through which our stylists and experts can understand your needs and then get a call from our executive to confirm your appointment, Viola! Your journey of getting transformed has begun.</p>
          <p>You can also locate the nearest Salons and Spas through our Beautello Web and Android/ iOS mobile app and book an appointment seamlessly. So, while we're working our best to give you a new look and answer all your beauty and hair questions, we want to make sure you have the best time and leave our salon with a big smile. Book your appointment now!
          </p>
          <p>
            Breaking down the system capabilities into more pieces, following are the Beautello provides:
          </p>
          <ul>
            <li>Online Booking/ Online appointments</li>
            <li>Appointment Schedule</li>
            <li>Social Media Marketing</li>
            <li>Graphic Designing</li>
            <li>Video making</li>
            <li>Appointment Reminders</li>
            <li>Billing System</li>
            <li>Salon Profile/ Website</li>
            <li>Mobile App (android/ iOS)</li>
            <li>Customer Database Management</li>
            <li>Emails and SMS Alerts</li>
            <li>Branding and Marketing</li>
            <li>Online Report Generating System</li>
          </ul>
          <p> Considering to all these, this new software solution will confirm the time utilization, enhancement of the efficiency and productivity of the salon services to fulfill the both salon owner and customer satisfaction.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="services-section py-5 py-md-0 bg-light">
  <div class="container">
    <div class="row no-gutters d-flex">
      <div class="col-md-6 col-lg-3 d-flex align-self-stretch">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-makeup"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Makeup</h3>
            <p>	But with a little help from Beautello beauty salon software, things like POS, appointments, staff rostering, online bookings and financial reports become much more manageable.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-self-stretch ">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-flower"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Hair Styling</h3>
            <p>How to keep ahead of the competition? With a seamless sales system, happy thriving stylists, a full appointment book and all your figures at your fingertips.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-self-stretch ">
        <div class="media block-6 services active d-block">
          <div class="icon"><span class="flaticon-polish"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Nails</h3>
            <p>Your business success is in hand with Beautello’s nail salon software. Keep your appointment book in tidy shape, create perfectly polished marketing plans and nail your numbers, every time.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-self-stretch ">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-facial-treatment"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Body Treatment</h3>
            <p>Keep your spa business serene with appointments, POS, staff and inventory management software in-one. Beautello Spa Software lets the appointments roll in day and night.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
