<app-navbar></app-navbar>
<section id="home-section" style="text-align: center" class="hero" [ngStyle]="{ 'background-image': 'url(' + background1 + ')', 'opacity': opacity}" data-stellar-background-ratio="0.5">
  <div class="home-slider owl">
    <div class="slider-item js-fullheight">
      <div class="overlay"></div>
      <div class="container-fluid p-0">
        <div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
          <img class="one-third align-self-end order-md-last img-fluid1" src="assets/images/bg_1.png" alt="">
          <div class="one-forth d-flex align-items-center" data-scrollax=" properties: { translateY: '70%' }">
            <div class="text mt-5">
              <br>


              <span class="subheading">Salon software for hair, beauty, barber & spa businesses</span>
              <div class="waviy">
                <span style="--i:1">P</span>
                <span style="--i:2">I</span>
                <span style="--i:3">C</span>
                <span style="--i:4">K</span>
                <span style="--i:5">,</span>
                <span style="--i:6"> </span>
                <span style="--i:7">C</span>
                <span style="--i:8">L</span>
                <span style="--i:9">I</span>
                <span style="--i:10">C</span>
                <span style="--i:11">K</span>
                <span style="--i:12">,</span>
                <span style="--i:13"> </span>
                <span style="--i:14">S</span>
                <span style="--i:15">E</span>
                <span style="--i:16">L</span>
                <span style="--i:17">L</span>
              </div>

              <h1 class="mb-4 flip">Your Online Store is Ready!</h1>
              <p class="mb-4">Get an Online Store that generates intelligent links for your clients, direct to their favourite products from their trusted salon professionals. Built for you, personalised for them.</p>
              <!--              <div class="row">-->
              <!--                <div class="col-md-6">-->
              <!--                  <p><a href="#" class="btn btn-primary py-3 px-4" [routerLink]="['register']">Sign Up for Free</a></p>-->
              <!--                </div>-->
              <!--                <div class="col-md-6">-->
              <!--                  <p><a href="#" class="btn btn-primary py-3 px-4">Sign In for Free</a></p>-->
              <!--                </div>-->
              <!--              </div>-->

              <div class="row">
                <div class="col-md-12"  style="text-align: center">
                  <p class="mb-4"><strong>Find the Best Salons and Spas in your area. Simply search and make a beauty appointment online quickly at the salon or spa of your choice</strong></p>
                  <p><a href="#" class="btn btn-primary pulse py-3 px-4" [routerLink]="['freeSearch']">Search best Salons and Spas for Free</a></p>
                </div>
              </div>
              <br>
              <br>
              <br>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!--    <div class="slider-item js-fullheight">-->
    <!--      <div class="overlay"></div>-->
    <!--      <div class="container-fluid p-0">-->
    <!--        <div class="row d-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">-->
    <!--          <img class="one-third align-self-end order-md-last img-fluid" src="assets/images/bg_2.png" alt="">-->
    <!--          <div class="one-forth d-flex align-items-center " data-scrollax=" properties: { translateY: '70%' }">-->
    <!--            <div class="text mt-5">-->
    <!--              &lt;!&ndash;		          		<span class="subheading">Natural Beauty</span>&ndash;&gt;-->
    <!--              <h1 class="mb-4">Are you an owner of a Salon or a Spa?</h1>-->
    <!--              <p class="mb-4">Take your business to the next level "With Your Own Branded Booking App and Smart App & Web-based-->
    <!--                POS Scheduler"</p>-->

    <!--              <p><a href="#" class="btn btn-primary py-3 px-4">Sign In</a></p>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</section>


<section class="ftco-section ftco-no-pb ftco-no-pt">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="p-md-5 img img-2 d-flex justify-content-center align-items-center" [ngStyle]="{ 'background-image': 'url(' + about + ')'}">
          <a href="" class="icon popup-vimeo d-flex justify-content-center align-items-center">
            <span class="icon-play"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 py-md-5 pb-5 wrap-about pb-md-5 ">
        <div class="heading-section mb-4 mt-md-5">
          <h1 class="big">About</h1>
          <span class="subheading">About Us</span>
          <h2 class="mb-4">A World Class Beauty Salon Software</h2>
        </div>
        <div class="pb-md-5">
          <p>Beautello is the Sri Lanka’s first real time salon appointment platform to book hair and beauty services like hair-spa, shave, keratin, smoothening, pedicure, makeup from your favorite at a beauty parlor or salon near you and Salon Branding.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="services-section py-5 py-md-0 bg-light">
  <div class="container">
    <div class="row no-gutters d-flex">
      <div class="col-md-6 col-lg-3 d-flex align-self-stretch">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-makeup"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Makeup</h3>
            <p>	But with a little help from Beautello beauty salon software, things like POS, appointments, staff rostering, online bookings and financial reports become much more manageable.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-self-stretch ">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-flower"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Hair Styling</h3>
            <p>How to keep ahead of the competition? With a seamless sales system, happy thriving stylists, a full appointment book and all your figures at your fingertips.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-self-stretch ">
        <div class="media block-6 services active d-block">
          <div class="icon"><span class="flaticon-polish"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Nails</h3>
            <p>Your business success is in hand with Beautello’s nail salon software. Keep your appointment book in tidy shape, create perfectly polished marketing plans and nail your numbers, every time.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-self-stretch ">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-facial-treatment"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Body Treatment</h3>
            <p>Keep your spa business serene with appointments, POS, staff and inventory management software in-one. Beautello Spa Software lets the appointments roll in day and night.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-services">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pr-md-4">
        <div class="heading-section pr-5 pb-5">
          <h1 class="big">Services</h1>
          <span class="subheading">Explore Our Services</span>
          <h2 class="mb-4 mt-3">The beauty is not luxurious imagination</h2>
          <p>Looking for a fresh look this festive season? Or want to bring out a new you?</p>
        </div>
        <div class="services-wrap mb-5">
          <a href="#" class="img d-flex align-items-end" [ngStyle]="{ 'background-image': 'url(' + serviceImge1 + ')'}">
            <div class="number">
              <h3>01</h3>
            </div>
          </a>
          <div class="d-flex justify-content-end">
            <div class="text d-flex align-items-center">
              <div>
                <h3><a href="#">Manicure &amp; Pedicure</a></h3>
              </div>
              <div class="btn-custom text-center align-self-stretch d-flex align-items-center">
                <a href="#">Explore <span class="ion-ios-arrow-forward"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="services-wrap mt-3">
          <a href="#" class="img d-flex align-items-end" [ngStyle]="{ 'background-image': 'url(' + serviceImge2 + ')'}">
            <div class="number">
              <h3>02</h3>
            </div>
          </a>
          <div class="d-flex justify-content-end">
            <div class="text d-flex align-items-center">
              <div>
                <h3><a href="#">Haircut &amp; Coloring</a></h3>
              </div>
              <div class="btn-custom text-center align-self-stretch d-flex align-items-center">
                <a href="#">Explore <span class="ion-ios-arrow-forward"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 pl-md-4">
        <div class="services-wrap mb-5">
          <a href="#" class="img d-flex align-items-end" [ngStyle]="{ 'background-image': 'url(' + serviceImge3 + ')'}">
            <div class="number">
              <h3>03</h3>
            </div>
          </a>
          <div class="d-flex justify-content-end">
            <div class="text d-flex align-items-center">
              <div>
                <h3><a href="#">Professional Makeup</a></h3>
              </div>
              <div class="btn-custom text-center align-self-stretch d-flex align-items-center">
                <a href="#">Explore <span class="ion-ios-arrow-forward"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="services-wrap mt-3">
          <a href="#" class="img d-flex align-items-end" [ngStyle]="{ 'background-image': 'url(' + serviceImge4 + ')'}">
            <div class="number">
              <h3>04</h3>
            </div>
          </a>
          <div class="d-flex justify-content-end">
            <div class="text d-flex align-items-center">
              <div>
                <h3><a href="#">Body Spa</a></h3>
              </div>
              <div class="btn-custom text-center align-self-stretch d-flex align-items-center">
                <a href="#">Explore <span class="ion-ios-arrow-forward"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Screenshots-->
<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row no-gutters justify-content-center mb-5 pb-2">
      <div class="col-md-6 text-center heading-section">
        <h1 class="big">Booking App</h1>
        <span class="subheading">PRODLY HAVE YOUR BRANDED BUSINESS APP</span>
        <h2 class="mb-4">Android/ iOS Mobile App and book an appointment</h2>
        <p>Reducing admin overload for you from client’s calls. You can have more time to focus on making your clients feel more valued. You will be a proud owner of your own app in your business name and it will be fully yours!</p>
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-md-6 col-lg-3">
        <div class="project">
          <img src="assets/images/ss/login.png" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>ScreenShot</span>
            <h3><a href="">Login</a></h3>
          </div>
          <a href="assets/images/ss/login.png" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="project">
          <img src="assets/images/ss/home.png" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>ScreenShot</span>
            <h3><a href="">Home</a></h3>
          </div>
          <a href="assets/images/ss/home.png" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="project">
          <img src="assets/images/ss/salons.png" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>ScreenShot</span>
            <h3><a href="">Near by Salons</a></h3>
          </div>
          <a href="assets/images/ss/salons.png" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="project">
          <img src="assets/images/ss/products.png" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>ScreenShot</span>
            <h3><a href="">Salon Products</a></h3>
          </div>
          <a href="assets/images/ss/products.png" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="ftco-section ftco-services">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pr-md-4">
        <div class="heading-section pr-5 pb-5">
          <h1 class="big">Features</h1>
          <span class="subheading">MANAGE BOOKINGS ON THE GO!</span>
          <h4 class="mb-4 mt-3"><strong>ORGANISER</strong></h4>
          <p>Say goodbye to pen and paper. Allow your staff to check their day-to-day scheduling, so they can be prepared for the day ahead.</p>
          <br>
          <h4 class="mb-4 mt-3"><strong>NOTIFICATION ALERTS</strong></h4>
          <p>You will receive notifications for all the bookings made your customers through your own branded App.</p>
          <br>
          <h4 class="mb-4 mt-3"><strong>APPOINTMENTS</strong></h4>
          <p>With a simple tap on the appointment at the home page, scheduler or calendar, you can see all the information regarding current and upcoming appointments.</p>
        </div>

      </div>
      <div class="col-md-6 pl-md-4">
        <img src="assets/images/mock1.png">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 pr-md-4">
        <img src="assets/images/mock.png">

      </div>
      <div class="col-md-6 pl-md-4">
        <div class="heading-section pr-5 pb-5">
          <h4 class="mb-4 mt-3"><strong>OTP SIGN UP BY YOUR CUSTOMERS</strong></h4>
          <p>Your booking App will connect genuine clients by entering OTP when signing up (One Time Passcode, will be sent to their mobile number to verify), where falls bookings are highly avoided and customers can pay online (It is an optional feature for salons)..</p>
          <br>
          <h4 class="mb-4 mt-3"><strong>RESCHEDULING & CALL</strong></h4>
          <p>It allows your clients to view, edit and reschedule appointments at anytime from anywhere and get a phone call.</p>
          <br>
          <h4 class="mb-4 mt-3"><strong>ALERTS & NOTIFICATIONS</strong></h4>
          <p>Clients will receive appointment reminders and notification by in-app notifications & text messages for their bookings.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="testimony-section" [ngStyle]="{ 'background-image': 'url(' + background1 + ')'}">
  <div class="container">
    <div class="row no-guttersjustify-content-center">
      <div class="col-md-6 col-lg-5 d-flex">
        <div class="testimony-img" [ngStyle]="{ 'background-image': 'url(' + mock1 + ')'}"></div>
      </div>
      <div class="col-md-6 col-lg-7 py-5">
        <div class="py-md-5">
          <div class="heading-section">
            <h1 class="big big-2">Happy</h1>
            <h2 class="mb-0">Download The App</h2>
          </div>
          <div>
            <div class="item">
              <div class="testimony-wrap pb-4">
                <div class="text">
                  <p class="mb-4"> Display and advertise your customized offers with beautiful templates on the home screen of your app, every time when you add a promotion your customers will receive notifications by text messages, so more clients spending and bookings for you!</p>
                </div>
                <img src="https://freepngimg.com/thumb/apple/58663-app-google-play-store-apple-download-hd-png.png" style="height: 200px">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<section class="ftco-section ftco-no-pt ftco-booking">-->
<!--  <div class="container-fluid px-0">-->
<!--    <div class="row no-gutters d-md-flex justify-content-end">-->
<!--      <div class="one-forth d-flex align-items-end">-->
<!--        <div class="text">-->
<!--          <div class="overlay"></div>-->
<!--          <div class="appointment-wrap">-->
<!--            <span class="subheading">Reservation</span>-->
<!--            <h3 class="mb-2">Make an Appointment</h3>-->
<!--            <form action="#" class="appointment-form">-->
<!--              <div class="row">-->
<!--                <div class="col-sm-12">-->
<!--                  <div class="form-group">-->
<!--                    <input type="text" class="form-control" id="appointment_name" placeholder="Name">-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-sm-12">-->
<!--                  <div class="form-group">-->
<!--                    <input type="text" class="form-control" id="appointment_email" placeholder="Email">-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-sm-12">-->
<!--                  <div class="form-group">-->
<!--                    <div class="select-wrap">-->
<!--                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>-->
<!--                      <select name="" id="" class="form-control">-->
<!--                        <option value="">Professional Makeup</option>-->
<!--                        <option value="">Manicure Pedicure</option>-->
<!--                        <option value="">Body Treatment</option>-->
<!--                        <option value="">Haircut Coloring</option>-->
<!--                      </select>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-sm-12">-->
<!--                  <div class="form-group">-->
<!--                    <input type="text" class="form-control appointment_date" placeholder="Date">-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-sm-12">-->
<!--                  <div class="form-group">-->
<!--                    <input type="text" class="form-control appointment_time" placeholder="Time">-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-sm-12">-->
<!--                  <div class="form-group">-->
<!--                    <input type="text" class="form-control" id="phone" placeholder="Phone">-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <input type="submit" value="Make an Appointment" class="btn btn-primary">-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="one-third">-->
<!--        <div class="img" [ngStyle]="{ 'background-image': 'url(' + imageAppointment + ')'}">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->


<!--<section class="ftco-section ftco-team">-->
<!--  <div class="container">-->
<!--    <div class="row justify-content-center pb-3">-->
<!--      <div class="col-md-10 heading-section text-center">-->
<!--        <h1 class="big">Clients</h1>-->
<!--        <span class="subheading">Best Clients</span>-->
<!--        <h2 class="mb-4">Our Clients</h2>-->
<!--        <p>Get your clients back in more often, spending more & generating referrals!</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div id="container">-->
<!--    <div-->
<!--      ng2-carouselamos-->
<!--      class="slides-wrapper"-->
<!--      [items]="salonList"-->
<!--      [width]="1500"-->
<!--      [$prev]="prev"-->
<!--      [$next]="next"-->
<!--      [$item]="item"-->
<!--    >-->
<!--    </div>-->


<!--    <ng-template #prev>-->
<!--      <img src="assets/images/back.png" style="height: 20px; width: 20px"  id="left" />-->
<!--    </ng-template>-->
<!--    <ng-template #next>-->
<!--      <img src="assets/images/next.png" style="height: 20px; width: 20px"  id="right" />-->
<!--    </ng-template>-->
<!--    <ng-template #item let-item let-i="index">-->

<!--      <section class="ftco-section ftco-pricing">-->
<!--        <div class="container">-->
<!--          <div class="row justify-content-center pb-3">-->
<!--          </div>-->
<!--          <div class="row col-md-2">-->
<!--            <div class="item">-->
<!--              <a href="#" class="team text-center">-->
<!--                <img src="{{item.salonLogo}} " style="width: 200px; height: 200px; border-radius: 50%; margin-bottom: 20px; margin-top: 20px">-->
<!--                <h2>{{item.salonName}}</h2>-->
<!--                <span class="position">{{item.city}}</span>-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>-->
<!--    </ng-template>-->
<!--  </div>-->

<!--</section>-->










<section class="ftco-section ftco-team">
  <div class="container">
    <div class="row justify-content-center pb-3">
      <div class="col-md-10 heading-section text-center">
        <h1 class="big">Clients</h1>
        <span class="subheading">Best Clients</span>
        <h2 class="mb-4">Our Clients</h2>
        <p>Get your clients back in more often, spending more & generating referrals!</p>
      </div>
    </div>
  </div>
  <!--  <div class="container">-->
  <!--    <div class="row">-->
  <!--      <div *ngFor="let order of salonList" class="col-md-2">-->
  <!--        <div class="item">-->
  <!--          <a href="#" class="team text-center">-->
  <!--            <img src="{{order.salonLogo}} " style="width: 200px; height: 200px; border-radius: 50%; margin-bottom: 20px; margin-top: 20px">-->
  <!--            <h2>{{order.salonName}}</h2>-->
  <!--            <span class="position">{{order.city}}</span>-->
  <!--          </a>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
</section>


<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row no-gutters justify-content-center mb-5 pb-2">
      <div class="col-md-6 text-center heading-section">
        <h1 class="big">Gallery</h1>
        <span class="subheading">Works</span>
        <h2 class="mb-4">Working on a Salon</h2>
        <p>You can also locate the nearest Salons and Spas through our Beautello Web and Android/ iOS mobile app and book an appointment seamlessly.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-md-6 col-lg-3">
        <div class="project">
          <img src="assets/images/work-1.jpg" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>Stylist</span>
            <h3><a href="project.html">Makeup</a></h3>
          </div>
          <a href="assets/images/work-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="project">
          <img src="assets/images/work-2.jpg" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>Beauty</span>
            <h3><a href="project.html">Makeup</a></h3>
          </div>
          <a href="assets/images/work-2.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="project">
          <img src="assets/images/work-3.jpg" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>Beauty</span>
            <h3><a href="project.html">Makeup</a></h3>
          </div>
          <a href="assets/images/work-3.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="project">
          <img src="assets/images/work-4.jpg" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>Beauty</span>
            <h3><a href="project.html">Makeup</a></h3>
          </div>
          <a href="assets/images/work-4.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="project">
          <img src="assets/images/work-5.jpg" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>Beauty</span>
            <h3><a href="project.html">Makeup</a></h3>
          </div>
          <a href="assets/images/work-5.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="project">
          <img src="assets/images/work-6.jpg" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>Fashion</span>
            <h3><a href="project.html">Model</a></h3>
          </div>
          <a href="assets/images/work-6.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="project">
          <img src="assets/images/work-7.jpg" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>Beauty</span>
            <h3><a href="project.html">Makeup</a></h3>
          </div>
          <a href="assets/images/work-7.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="project">
          <img src="assets/images/work-8.jpg" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>Beauty</span>
            <h3><a href="project.html">Makeup</a></h3>
          </div>
          <a href="assets/images/work-8.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


<!--<section class="ftco-section ftco-pricing">-->
<!--  <div class="container">-->
<!--    <div class="row justify-content-center pb-3">-->
<!--      <div class="col-md-10 heading-section text-center">-->
<!--        <h1 class="big">Pricing</h1>-->
<!--        <span class="subheading">Pricing</span>-->
<!--        <h2 class="mb-4">Our Prices</h2>-->
<!--        <p>Ready to see how Beautello Salon Software can help your salon or spa to grow?</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-md-4">-->
<!--        <div class="pricing-entry pb-5 text-center">-->
<!--          <div>-->
<!--            <h3 class="mb-4">SILVER MEMBER-->
<!--            </h3>-->
<!--            <p><span class="price">LKR 2900</span> <span class="per">/ month</span></p>-->
<!--          </div>-->
<!--          <ul>-->
<!--            <li>Display 10 Products</li>-->
<!--            <li>Either Instagram or Facebook your Salon will be featured once in a month</li>-->
<!--            <li>Appointment Scheduler</li>-->
<!--            <li>Booking Facilty upto 200 per Month</li>-->
<!--            <li>One 2 minute long video of your facial, bridal make up, hair cut/ About your salon to display in our Social Media Platform/ 3 months</li>-->
<!--            <li>1 Employee</li>-->
<!--&lt;!&ndash;            <li><s>Own Branded Booking App</s></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><s>In-App Alerts & Notifications</s></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><s>Booking Plugin For Your Website</s></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><s>E-Commerce (Sell your products)</s></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><s>Text Message Alerts & Notifications</s></li>&ndash;&gt;-->
<!--          </ul>-->
<!--          <p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <div class="pricing-entry pb-5 text-center">-->
<!--          <div>-->
<!--            <h3 class="mb-4">GOLD MEMEBER</h3>-->
<!--            <p><span class="price">LKR 4900</span> <span class="per">/ month</span></p>-->
<!--          </div>-->
<!--          <ul>-->
<!--            <li>Display 25 Products</li>-->
<!--            <li>Either Instagram or Facebook your Salon will be featured evey 14 days in a month</li>-->
<!--            <li>Booking Facility upto 500 per Month</li>-->
<!--            <li>One 2 minute long video of your facial, bridal make up, hair cut/ About your salon to display in our Social Media Platform/ 45 days</li>-->
<!--            <li>Manage upto 3 Employees</li>-->
<!--&lt;!&ndash;            <li>Online Payment</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>In-App Alerts & Notifications</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>Text Message Alerts & Notifications</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><s>Booking Plugin For Your Website</s></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><s>E-Commerce (Sell your products)</s></li>&ndash;&gt;-->
<!--          </ul>-->
<!--          <p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>-->
<!--        </div>-->
<!--      </div>-->
<!--&lt;!&ndash;      <div class="col-md-3">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="pricing-entry active pb-5 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;          <div>&ndash;&gt;-->
<!--&lt;!&ndash;            <h3 class="mb-4">BOOKING APP,WEBSITE BOOKING PLUGIN & POS SYSTEM&ndash;&gt;-->
<!--&lt;!&ndash;            </h3>&ndash;&gt;-->
<!--&lt;!&ndash;            <p><span class="price">LKR 2500</span> <span class="per">/ month</span></p>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <ul>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>Own Branded Booking App </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>Booking Through Your Existing Website</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>Smart POS App</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>Web-based POS</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>Appointment Scheduler</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>Owner’s Control Panel</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>Appointment Scheduler</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>Online Payment</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>In-App Alerts & Notifications</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>Text Message Alerts & Notifications</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><s>E-Commerce (Sell your products)</s></li>&ndash;&gt;-->
<!--&lt;!&ndash;          </ul>&ndash;&gt;-->
<!--&lt;!&ndash;          <p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--      <div class="col-md-4">-->
<!--        <div class="pricing-entry pb-5 text-center">-->
<!--          <div>-->
<!--            <h3 class="mb-4">PLATINUM MEMBER-->
<!--            </h3>-->
<!--            <p><span class="price">LKR 7900</span> <span class="per">/ month</span></p>-->
<!--          </div>-->
<!--          <ul>-->
<!--            <li>Display 50 Products</li>-->
<!--            <li>Either Instagram or Facebook your Salon will be featured Weekly</li>-->
<!--            <li>Unlimited Booking Facility</li>-->
<!--            <li>One 2 minute long video of your facial, bridal make up, hair cut / About your salon to display in our Social Media Platform/ Month</li>-->
<!--            <li>Manage upto 5 Employees</li>-->
<!--&lt;!&ndash;            <li>Owner’s Control Panel</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>Online Payment</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>In-App Alerts & Notifications</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>Text Message Alerts & Notifications</li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li>Sell your products through app & website</li>&ndash;&gt;-->
<!--          </ul>-->
<!--          <p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<section class="testimony-section bg-light">
  <div class="container">
    <div class="row no-guttersjustify-content-center">
      <div class="col-md-6 col-lg-5 d-flex">
        <div class="testimony-img" [ngStyle]="{ 'background-image': 'url(' + testimony + ')'}"></div>
      </div>
      <div class="col-md-6 col-lg-7 py-5">
        <div class="py-md-5">
          <div class="heading-section">
            <h1 class="big big-2">Happy</h1>
            <span class="subheading">Testimony</span>
            <h2 class="mb-0">Happy Customer</h2>
          </div>
          <div>
            <div class="item">
              <div class="testimony-wrap pb-4">
                <div class="text">
                  <p class="mb-4"> Very proud to have Beautello, it helps me a lot to get bookings and give us their suggestions to have a better business and you can decide whatever you want. Highly recommend. </p>
                </div>
                <div class="d-flex">
                  <div class="user-img" [ngStyle]="{ 'background-image': 'url(' + stylist1 + ')'}">
                  </div>
                  <div class="pos ml-3">
                    <p class="name">Jeff Nucci</p>
                    <span class="position">Businessman</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

