<app-navbar></app-navbar>

<section class="hero-wrap hero-wrap-2" [ngStyle]="{ 'background-image': 'url(' + background2 + ')'}" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9  pb-5">
        <h2 class="mb-0 bread">Services</h2>
        <br>
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Services <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-services">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pr-md-4">
        <div class="heading-section pr-5 pb-5">
          <h1 class="big">Services</h1>
          <span class="subheading">Explore Our Services</span>
          <h2 class="mb-4 mt-3">The beauty is not luxurious imagination</h2>
          <p>Looking for a fresh look this festive season? Or want to bring out a new you?</p>
        </div>
        <div class="services-wrap mb-5">
          <a href="#" class="img d-flex align-items-end" [ngStyle]="{ 'background-image': 'url(' + serviceImge1 + ')'}">
            <div class="number">
              <h3>01</h3>
            </div>
          </a>
          <div class="d-flex justify-content-end">
            <div class="text d-flex align-items-center">
              <div>
                <h3><a href="#">Manicure &amp; Pedicure</a></h3>
              </div>
              <div class="btn-custom text-center align-self-stretch d-flex align-items-center">
                <a href="#">Explore <span class="ion-ios-arrow-forward"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="services-wrap mt-3">
          <a href="#" class="img d-flex align-items-end" [ngStyle]="{ 'background-image': 'url(' + serviceImge2 + ')'}">
            <div class="number">
              <h3>02</h3>
            </div>
          </a>
          <div class="d-flex justify-content-end">
            <div class="text d-flex align-items-center">
              <div>
                <h3><a href="#">Haircut &amp; Coloring</a></h3>
              </div>
              <div class="btn-custom text-center align-self-stretch d-flex align-items-center">
                <a href="#">Explore <span class="ion-ios-arrow-forward"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 pl-md-4">
        <div class="services-wrap mb-5">
          <a href="#" class="img d-flex align-items-end" [ngStyle]="{ 'background-image': 'url(' + serviceImge3 + ')'}">
            <div class="number">
              <h3>03</h3>
            </div>
          </a>
          <div class="d-flex justify-content-end">
            <div class="text d-flex align-items-center">
              <div>
                <h3><a href="#">Professional Makeup</a></h3>
              </div>
              <div class="btn-custom text-center align-self-stretch d-flex align-items-center">
                <a href="#">Explore <span class="ion-ios-arrow-forward"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="services-wrap mt-3">
          <a href="#" class="img d-flex align-items-end" [ngStyle]="{ 'background-image': 'url(' + serviceImge4 + ')'}">
            <div class="number">
              <h3>04</h3>
            </div>
          </a>
          <div class="d-flex justify-content-end">
            <div class="text d-flex align-items-center">
              <div>
                <h3><a href="#">Body Spa</a></h3>
              </div>
              <div class="btn-custom text-center align-self-stretch d-flex align-items-center">
                <a href="#">Explore <span class="ion-ios-arrow-forward"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
