<footer class="ftco-footer ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2 logo"><a [routerLink]="['/']"><img src="assets/images/logoWhite4.png"></a></h2>
          <p>~ Where Beauty meets Tech ~</p>
          <p>As stylists we’re ground shakers and and day makers. Setting trends, while fostering that inner connection between a person’s inner and outer self</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li><a href="https://kalonish.com@gmail.com"><span class="icon-google"></span></a></li>
            <li><a href=""><span class="icon-twitter"></span></a></li>
            <li><a href="https://www.facebook.com/kalonishglobal"><span class="icon-facebook"></span></a></li>
            <li><a href="https://www.instagram.com/kalonishlanka/"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Information</h2>
          <ul class="list-unstyled">
            <li><a href="" class="py-2 d-block" [routerLinkActive]="['active']" [routerLink]="['/contact']">FAQs</a></li>
            <li><a href="" class="py-2 d-block" [routerLinkActive]="['active']" [routerLink]="['/privacyPolicy']">Privacy</a></li>
            <li><a href="" class="py-2 d-block" [routerLinkActive]="['active']" [routerLink]="['/privacyPolicy']">Terms Condition</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Links</h2>
          <ul class="list-unstyled">
            <li><a href="" class="py-2 d-block" [routerLinkActive]="['active']" [routerLink]="['/']">Home</a></li>
            <li><a href="" class="py-2 d-block" [routerLinkActive]="['active']" [routerLink]="['/services']">Services</a></li>
            <li><a href="" class="py-2 d-block" [routerLinkActive]="['active']" [routerLink]="['/gallery']">Gallery</a></li>
            <li><a href="" class="py-2 d-block" [routerLinkActive]="['active']" [routerLink]="['/about']">About</a></li>
            <li><a href="" class="py-2 d-block" [routerLinkActive]="['active']" [routerLink]="['/blog']">Blog</a></li>
            <li><a href="" class="py-2 d-block" [routerLinkActive]="['active']" [routerLink]="['/contact']">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">10200 Homagama, Colombo, Sri Lanka</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+94 76 227 3634</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">kalonish.com@gmail.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          &copy;2020&nbsp;Kalonish All rights reserved | <a href="" [routerLink]="['/privacyPolicy']">Privacy Policy</a> | <a href="" [routerLink]="['/privacyPolicy']">Terms of Service</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>
