<app-navbar></app-navbar>

<section class="hero-wrap hero-wrap-2" [ngStyle]="{ 'background-image': 'url(' + background2 + ')'}" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9  pb-5">
        <h2 class="mb-0 bread">Works</h2>
        <br>
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<br>
<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row no-gutters justify-content-center mb-5 pb-2">
      <div class="col-md-6 text-center heading-section">
        <h1 class="big">Gallery</h1>
        <span class="subheading">Works</span>
        <h2 class="mb-4">Working on a Salon</h2>
        <p>You can also locate the nearest Salons and Spas through our Beautello Web and Android/ iOS mobile app and book an appointment seamlessly.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-md-6 col-lg-3">
        <div class="project">
          <img src="assets/images/work-1.jpg" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>Stylist</span>
            <h3><a href="project.html">Makeup</a></h3>
          </div>
          <a href="assets/images/work-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="project">
          <img src="assets/images/work-2.jpg" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>Beauty</span>
            <h3><a href="project.html">Makeup</a></h3>
          </div>
          <a href="assets/images/work-2.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="project">
          <img src="assets/images/work-3.jpg" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>Beauty</span>
            <h3><a href="project.html">Makeup</a></h3>
          </div>
          <a href="assets/images/work-3.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="project">
          <img src="assets/images/work-4.jpg" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>Beauty</span>
            <h3><a href="project.html">Makeup</a></h3>
          </div>
          <a href="assets/images/work-4.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="project">
          <img src="assets/images/work-5.jpg" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>Beauty</span>
            <h3><a href="project.html">Makeup</a></h3>
          </div>
          <a href="assets/images/work-5.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="project">
          <img src="assets/images/work-6.jpg" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>Fashion</span>
            <h3><a href="project.html">Model</a></h3>
          </div>
          <a href="assets/images/work-6.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="project">
          <img src="assets/images/work-7.jpg" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>Beauty</span>
            <h3><a href="project.html">Makeup</a></h3>
          </div>
          <a href="assets/images/work-7.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="project">
          <img src="assets/images/work-8.jpg" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>Beauty</span>
            <h3><a href="project.html">Makeup</a></h3>
          </div>
          <a href="assets/images/work-8.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
